<SDKConfigInfo>
    <iCarDesignType>1</iCarDesignType>
    <iDriverPos>0</iDriverPos>
    <iCameraType>0</iCameraType>
    <iImageType>1</iImageType>
    <iImageMode>1</iImageMode>
    <iScreenType>1</iScreenType>
</SDKConfigInfo>
