<SDKConfigInfo>
    <iCarDesignType>1</iCarDesignType>
    <iDriverPos>1</iDriverPos>
    <iCameraType>1</iCameraType>
    <iImageType>1</iImageType>
    <iImageMode>1</iImageMode>
    <iScreenType>1</iScreenType>
</SDKConfigInfo>
